<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"
     xmlns:util="http://schemas.microsoft.com/wix/UtilExtension">
  <Product Id="*" Name="xp2p" Language="1033" Version="$(var.ProductVersion)" Manufacturer="xp2p" UpgradeCode="{2A0AB5BE-8EAA-4FBE-91E9-987F93F0E1C5}">
    <Package InstallerVersion="500" Compressed="yes" InstallScope="perMachine" InstallPrivileges="elevated" Platform="x86" Description="xp2p tunnel service" />
    <util:CloseApplication Id="CloseXp2pUi"
                           Target="ui-xp2p.exe"
                           Description="ui-xp2p is running."
                           CloseMessage="yes"
                           PromptToContinue="yes"
                           RebootPrompt="no"
                           TerminateProcess="1">REMOVE="ALL"</util:CloseApplication>

    <MajorUpgrade Schedule="afterInstallValidate"
                  AllowDowngrades="no"
                  AllowSameVersionUpgrades="yes"
                  DowngradeErrorMessage="A newer version of xp2p is already installed." />

    <MediaTemplate EmbedCab="yes" />

    <Property Id="ARPNOMODIFY" Value="1" />
    <Property Id="ARPCONTACT" Value="xp2p maintainers" />
    <Property Id="ARPURLINFOABOUT" Value="https://github.com/NlightN22/xray-p2p" />
    <Property Id="ARPHELPLINK" Value="https://github.com/NlightN22/xray-p2p/issues" />
    <Property Id="ARPURLUPDATEINFO" Value="https://github.com/NlightN22/xray-p2p/releases" />
    <Property Id="ARPCOMMENTS" Value="Minimal Trojan tunnel based on xray-core." />
    <Property Id="XP2P_CLIENT_ARGS" Hidden="yes" Secure="yes" />
    <Property Id="XP2P_SERVER_ARGS" Hidden="yes" Secure="yes" />
    <Property Id="XP2P_SKIP_SERVICE_START" Hidden="yes" Secure="yes" Value="1" />
    <Property Id="XP2P_UI_AUTOSTART" Hidden="yes" Secure="yes" Value="1" />
    <Property Id="WIXUI_INSTALLDIR" Value="INSTALLFOLDER" />
    <Property Id="WIXUI_EXITDIALOGOPTIONALCHECKBOXTEXT" Value="Launch ui-xp2p" />
    <Property Id="WIXUI_EXITDIALOGOPTIONALCHECKBOX" Value="1" />
    <WixVariable Id="WixUILicenseRtf" Value="installer\wix\license.rtf" />

    <CustomAction Id="SetRegisterPsCompletion"
                  Property="RegisterPsCompletion"
                  Value="&quot;[SystemFolder]WindowsPowerShell\v1.0\powershell.exe&quot; -NoProfile -ExecutionPolicy Bypass -File &quot;[#fileRegisterPsCompletion]&quot; -CompletionPath &quot;[#fileXp2pCompletion]&quot; -InstallRoot &quot;[INSTALLFOLDER]&quot;" />

    <CustomAction Id="RegisterPsCompletion"
                  BinaryKey="WixCA"
                  DllEntry="WixQuietExec"
                  Execute="deferred"
                  Return="check"
                  Impersonate="no" />

    <CustomAction Id="SetServiceAclCommand"
                  Property="GrantServiceAcl"
                  Value="&quot;[SystemFolder]WindowsPowerShell\v1.0\powershell.exe&quot; -NoProfile -ExecutionPolicy Bypass -File &quot;[#fileSetServiceAcl]&quot; -ServiceName xp2p-client,xp2p-server -Sid S-1-5-32-545,S-1-5-11" />

    <CustomAction Id="GrantServiceAcl"
                  BinaryKey="WixCA"
                  DllEntry="WixQuietExec"
                  Execute="deferred"
                  Return="check"
                  Impersonate="no" />

    <CustomAction Id="SetPerUserInstall" Property="MSIINSTALLPERUSER" Value="1" Execute="immediate" />
    <CustomAction Id="SetPerUserFolder" Property="INSTALLFOLDER" Value="[LocalAppDataFolder]xp2p" Execute="immediate" />

    <CustomAction Id="RunClientInstall"
                  FileKey="fileXp2pExe"
                  ExeCommand='client install [XP2P_CLIENT_ARGS]'
                  Execute="deferred"
                  Return="check"
                  Impersonate="yes" />

    <CustomAction Id="RunServerInstall"
                  FileKey="fileXp2pExe"
                  ExeCommand='server install [XP2P_SERVER_ARGS]'
                  Execute="deferred"
                  Return="check"
                  Impersonate="yes" />

    <CustomAction Id="LaunchXp2pUI"
                  FileKey="fileXp2pUiExe"
                  ExeCommand=""
                  Execute="immediate"
                  Return="asyncNoWait"
                  Impersonate="yes" />

    <InstallExecuteSequence>
      <Custom Action="SetPerUserInstall" Before="CostFinalize">NOT Privileged</Custom>
      <Custom Action="SetPerUserFolder" Before="CostFinalize">NOT Privileged</Custom>
      <Custom Action="SetRegisterPsCompletion" After="InstallFiles">NOT REMOVE="ALL"</Custom>
      <Custom Action="RegisterPsCompletion" After="SetRegisterPsCompletion">NOT REMOVE="ALL"</Custom>
      <Custom Action="SetServiceAclCommand" After="InstallServices">NOT REMOVE="ALL"</Custom>
      <Custom Action="GrantServiceAcl" After="SetServiceAclCommand">NOT REMOVE="ALL"</Custom>
      <Custom Action="RunClientInstall" After="InstallFiles">NOT Installed AND XP2P_CLIENT_ARGS</Custom>
      <Custom Action="RunServerInstall" After="RunClientInstall">NOT Installed AND XP2P_SERVER_ARGS</Custom>
    </InstallExecuteSequence>

    <InstallUISequence>
      <Custom Action="SetPerUserInstall" Before="CostFinalize">NOT Privileged</Custom>
      <Custom Action="SetPerUserFolder" Before="CostFinalize">NOT Privileged</Custom>
    </InstallUISequence>

    <UI>
      <UIRef Id="WixUI_FeatureTree" />
      <UIRef Id="WixUI_ErrorProgressText" />
      <Publish Dialog="ExitDialog"
               Control="Finish"
               Event="DoAction"
               Value="LaunchXp2pUI">WIXUI_EXITDIALOGOPTIONALCHECKBOX = 1 AND NOT Installed AND NOT Privileged</Publish>
    </UI>

    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFilesFolder">
        <Directory Id="INSTALLFOLDER" Name="xp2p">
          <Directory Id="BinFolder" Name="bin" />
        </Directory>
      </Directory>
      <Directory Id="ProgramMenuFolder">
        <Directory Id="Xp2pProgramMenuFolder" Name="xp2p" />
      </Directory>
      <Directory Id="DesktopFolder" Name="Desktop" />
      <Directory Id="CommonAppDataFolder">
        <Directory Id="Xp2pDataFolder" Name="xp2p">
          <Directory Id="Xp2pCompletionsFolder" Name="completions" />
          <Directory Id="Xp2pConfigClientFolder" Name="config-client" />
          <Directory Id="Xp2pConfigServerFolder" Name="config-server" />
          <Directory Id="Xp2pLogsFolder" Name="logs" />
        </Directory>
      </Directory>
      <Directory Id="LocalAppDataFolder" />
    </Directory>

    <DirectoryRef Id="INSTALLFOLDER">
      <Component Id="cmpXp2pExe" Guid="{0F91C0C5-5DDE-4F54-ABFD-DA4D1730B464}">
        <File Id="fileXp2pExe" Source="$(var.Xp2pBinary)" KeyPath="yes" Checksum="yes" />
        <ServiceInstall Id="SvcInstallClient"
                        Name="xp2p-client"
                        DisplayName="xp2p Client Service"
                        Description="xp2p client tunnel service"
                        Type="ownProcess"
                        Start="auto"
                        ErrorControl="normal"
                        Vital="yes"
                        Account="LocalSystem"
                        Arguments='client service run' />
        <ServiceControl Id="SvcControlClient"
                        Name="xp2p-client"
                        Stop="both"
                        Remove="uninstall"
                        Wait="yes" />
        <ServiceInstall Id="SvcInstallServer"
                        Name="xp2p-server"
                        DisplayName="xp2p Server Service"
                        Description="xp2p server tunnel service"
                        Type="ownProcess"
                        Start="auto"
                        ErrorControl="normal"
                        Vital="yes"
                        Account="LocalSystem"
                        Arguments='server service run' />
        <ServiceControl Id="SvcControlServer"
                        Name="xp2p-server"
                        Stop="both"
                        Remove="uninstall"
                        Wait="yes" />
      </Component>

      <Component Id="cmpXp2pUiExe" Guid="{2D3B93AE-5B34-4D6E-8A94-476A6A0C0F4F}">
        <File Id="fileXp2pUiExe" Source="$(var.Xp2pUiBinary)" KeyPath="yes" Checksum="yes" />
      </Component>

      <Component Id="cmpXp2pUiStartMenu" Guid="{AF52EEB4-DA07-4481-B199-BE1E2CAFE9A1}">
        <Shortcut Id="ShortcutXp2pUiStartMenu"
                  Directory="Xp2pProgramMenuFolder"
                  Name="ui-xp2p"
                  Description="ui-xp2p"
                  Target="[INSTALLFOLDER]ui-xp2p.exe"
                  WorkingDirectory="INSTALLFOLDER" />
        <RemoveFolder Id="RemoveXp2pProgramMenuFolder" Directory="Xp2pProgramMenuFolder" On="uninstall" />
        <RegistryValue Root="HKCU"
                       Key="Software\xp2p"
                       Name="StartMenuShortcut"
                       Type="integer"
                       Value="1"
                       KeyPath="yes" />
      </Component>

      <Component Id="cmpInstallRoot" Guid="{F7F77E38-B7FB-4B5B-8995-20FE8F5DCB68}" KeyPath="yes">
        <CreateFolder />
      </Component>

      <Component Id="cmpRegisterPsCompletion" Guid="{2B6C8B3E-9A8D-4A23-9F4C-6E5B6E6C0E8A}">
        <File Id="fileRegisterPsCompletion" Source="$(var.RegisterPsCompletionScript)" KeyPath="yes" />
      </Component>

      <Component Id="cmpSetServiceAclScript" Guid="{7B9CB9CC-64A8-4C41-AE6A-CFBB9DDEB0A5}">
        <File Id="fileSetServiceAcl" Source="$(var.SetServiceAclScript)" KeyPath="yes" />
      </Component>

      <Component Id="cmpServiceAutostart" Guid="{10F0A609-1BCD-43DD-9D33-FE6ED7E65CF3}">
        <Condition>XP2P_SKIP_SERVICE_START="0"</Condition>
        <RegistryValue Root="HKLM"
                       Key="Software\xp2p"
                       Name="ServiceAutostart"
                       Type="integer"
                       Value="1"
                       KeyPath="yes" />
        <ServiceControl Id="SvcControlClientAutoStart"
                        Name="xp2p-client"
                        Start="install"
                        Wait="yes" />
        <ServiceControl Id="SvcControlServerAutoStart"
                        Name="xp2p-server"
                        Start="install"
                        Wait="yes" />
      </Component>

      <Component Id="cmpXp2pUiAutoStart" Guid="{E9D1B0D7-3911-4C52-9E4F-6A9C868460C1}">
        <Condition>XP2P_UI_AUTOSTART="1"</Condition>
        <RegistryValue Root="HKCU"
                       Key="Software\Microsoft\Windows\CurrentVersion\Run"
                       Name="ui-xp2p"
                       Type="string"
                       Value="&quot;[INSTALLFOLDER]ui-xp2p.exe&quot;"
                       KeyPath="yes" />
      </Component>
    </DirectoryRef>

    <DirectoryRef Id="Xp2pDataFolder">
      <Component Id="cmpXp2pDataRoot" Guid="{3A6EBAE9-35F8-4B88-A455-8E7D0D33BFE3}" KeyPath="yes">
        <CreateFolder>
          <Permission User="Users" GenericAll="yes" />
        </CreateFolder>
      </Component>
    </DirectoryRef>

    <DirectoryRef Id="Xp2pCompletionsFolder">
      <Component Id="cmpXp2pCompletion" Guid="{97C5B8A9-1E3B-4A32-9F6A-2B3A5B8C9D01}">
        <File Id="fileXp2pCompletion" Source="$(var.Xp2pCompletionScript)" KeyPath="yes" />
      </Component>
    </DirectoryRef>

    <DirectoryRef Id="Xp2pConfigClientFolder">
      <Component Id="cmpXp2pConfigClient" Guid="{A7951FC6-7B6C-4F36-AC1D-4B52C6B720C1}" KeyPath="yes">
        <CreateFolder>
          <Permission User="Users" GenericAll="yes" />
        </CreateFolder>
      </Component>
    </DirectoryRef>

    <DirectoryRef Id="Xp2pConfigServerFolder">
      <Component Id="cmpXp2pConfigServer" Guid="{E2A4DD4A-1DE4-4B6D-8D52-7B2AC5D052B4}" KeyPath="yes">
        <CreateFolder>
          <Permission User="Users" GenericAll="yes" />
        </CreateFolder>
      </Component>
    </DirectoryRef>

    <DirectoryRef Id="Xp2pLogsFolder">
      <Component Id="cmpXp2pLogsRoot" Guid="{9E729D75-4F90-4E25-9D08-4A0A23C0EF8D}" KeyPath="yes">
        <CreateFolder>
          <Permission User="Users" GenericAll="yes" />
        </CreateFolder>
      </Component>
    </DirectoryRef>

    <DirectoryRef Id="DesktopFolder">
      <Component Id="cmpXp2pUiDesktopShortcut" Guid="{921166E7-8785-4618-B5A5-4A2392502961}">
        <Shortcut Id="ShortcutXp2pUiDesktop"
                  Directory="DesktopFolder"
                  Name="ui-xp2p"
                  Description="ui-xp2p"
                  Target="[INSTALLFOLDER]ui-xp2p.exe"
                  WorkingDirectory="INSTALLFOLDER" />
        <RegistryValue Root="HKCU"
                       Key="Software\xp2p"
                       Name="DesktopShortcut"
                       Type="integer"
                       Value="1"
                       KeyPath="yes" />
      </Component>
    </DirectoryRef>

    <Feature Id="MainFeature" Title="xp2p" Level="1" Display="hidden">
      <ComponentRef Id="cmpXp2pExe" />
      <ComponentRef Id="cmpInstallRoot" />
      <ComponentRef Id="cmpRegisterPsCompletion" />
      <ComponentRef Id="cmpSetServiceAclScript" />
      <ComponentRef Id="cmpXp2pDataRoot" />
      <ComponentRef Id="cmpXp2pCompletion" />
      <ComponentRef Id="cmpXp2pConfigClient" />
      <ComponentRef Id="cmpXp2pConfigServer" />
      <ComponentRef Id="cmpXp2pLogsRoot" />
      <ComponentGroupRef Id="Xp2pBundleGroup" />
      <ComponentRef Id="cmpServiceAutostart" />
    </Feature>

    <Feature Id="TrayFeature" Title="ui-xp2p" Level="1" Display="hidden">
      <ComponentRef Id="cmpXp2pUiExe" />
      <ComponentRef Id="cmpXp2pUiAutoStart" />
      <ComponentRef Id="cmpXp2pUiStartMenu" />
    </Feature>

    <Feature Id="DesktopShortcutFeature"
             Title="Desktop shortcut"
             Description="Create a desktop shortcut for ui-xp2p"
             Level="1">
      <ComponentRef Id="cmpXp2pUiDesktopShortcut" />
    </Feature>
  </Product>
</Wix>
