/build/
/keys/
.idea*
.vagrant
.vscode
.pytest_cache
__pycache__
go/cmd/xp2p/rsrc_windows_*.syso
dotnet/xp2p-ui/bin/
dotnet/xp2p-ui/obj/
xray-p2p.sln
/dotnet/build/
/dotnet/xp2p-ui.tests/TestResults/
/venv/