[Unit]
Description=xp2p server tunnel service
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
User=root
ExecStart=/usr/bin/xp2p server service run --diag-service-port 62023 --path /etc/xp2p --config-dir config-server --log-file /var/log/xp2p/server/service.log --xray-log-file /var/log/xp2p/server/xray-service.log
Restart=no

[Install]
WantedBy=multi-user.target
