[Unit]
Description=xp2p client tunnel service
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
User=root
ExecStart=/usr/bin/xp2p client service run
Restart=no

[Install]
WantedBy=multi-user.target
