[Unit]
Description=xp2p server tunnel service
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
User=root
ExecStart=/usr/bin/xp2p server service run
Restart=no

[Install]
WantedBy=multi-user.target
