name: ci

on:
  push:
    branches: ["**"]
  pull_request:

jobs:
  linux:
    runs-on: ubuntu-22.04
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Go
        uses: actions/setup-go@v5
        with:
          go-version-file: go.mod
          check-latest: true
          cache: true

      - name: go test
        run: |
          set -euo pipefail
          go test ./...
